body{
  background-color: #f9faff;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}
.bellotero-title{
  color: #071eb3;
}

.nav-items{
  list-style: none;
  display: flex;
  color: #071eb3;
}

.nav-items > li{
  padding: 10px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

.main-title{
  background: #071eb3;
  color: #fff;
  width: 325px;
}
.testimonials{
  display: flex;
  height: 100px;
  background-color: #ffffff;
  justify-content: space-between;
  padding-left: 10px 10px;
}
.testimonial-subtitle{
  font-family: Roboto;
  font-size: smaller;
  color: #a5a5a5;
  margin: 0;

}
.testimonial-title{
  font-size: Roboto;
  margin: 0;
}
.testimonials-buttons{
  display: flex;
  justify-content: right;
  justify-items: center;
}
.buttons{
  text-align: center;
  border-color: #071eb3;
  width: 80px;
}
.comment-style{
  padding-left: 40px;
}
.main-description{
  padding: 20px 30px;
}